{% extends "blog/base.html"%}
{% block content %}
    <h1>Welcome to Health Buddy!</h1>
<p>Welcome to Health Buddy, your ultimate companion for tracking calories and maintaining a healthy lifestyle.
    We understand the importance of balancing exercise and nutrition for achieving your fitness goals.
    With Health Buddy, you can effortlessly track your calorie intake and expenditure through exercise and food.
    Our user-friendly interface allows you to log your daily meals, including the types and quantities of food consumed.
    Additionally, you can record your physical activities, such as aerobics, cycling, skiing, weightlifting, and more.
    Health Buddy leverages advanced APIs to provide accurate calorie calculations, giving you insights into the effectiveness of
    your workouts and the impact of your diet. Stay motivated with personalized progress reports and easily monitor your calorie balance.
    Whether you're aiming to lose weight, gain muscle, or simply lead a healthier lifestyle, Health Buddy is here to support you every
    step of the way. Start your calorie tracking journey today and unleash the best version of yourself with Health Buddy!</p>
{% endblock %}
